.head__bar{
    background: linear-gradient(grey, black);
    color: aliceblue;
    height:50px;
    width: 100%;
    font-size: 1.6rem;
    margin-top: -15px;
    padding-top: 24px;
    text-align: right;
}
.head__bar a{
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.head__bar a:hover{
    color: #55acee;
}
.head__fix{
    background: white;
    height: 60px;
    width: 100%;
    font-size: 2.7rem;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-weight: 500;
    
}
.head__fix__right span{
    margin-left: 40px;
    color:#333;
    letter-spacing: 5px;
    cursor: pointer;
}
.head__fix__right a{
    text-decoration: none;
    color: inherit;
}
.head__fix__right a:hover{
    font-size: larger;
}
.head__fix__left{
    height: 48px;
    width: 210px;
    
    text-align: center;
    padding-top: 15px;
    letter-spacing: 3px;
    cursor: pointer;
}
.head__fix__left:hover{
    background-color: rgb(136, 145, 145);
    color: aqua;
}

.head__fix__left span:first-child{
    background: #333;
    color: aliceblue;
}
.head__fix__left:hover span:first-child{
    background-color: rgb(136, 145, 145);
    color: aqua;
}
.baner img{
    height: 790px;
    width: 100%;
}
.brand{
    width: 100%;
    margin: 45px 0;
    text-align: center;
    color: #313131;
    font-size: 2.5rem;
    font-weight: 500;
    animation-name: changecolor;
    animation-duration: 6s;
    animation-iteration-count:infinite;
}
@keyframes changecolor{
    0%   {color: rgb(4, 0, 255);}
    25%  {color: rgb(83, 0, 139);}
    50%  {color: rgb(255, 0, 238);}
    100% {color: rgb(46, 2, 17);}
}
.bodybar{
    font-size: 4rem;
    height: 100px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
.bodybar span:last-child{
    font-size: 2rem; 
}
.bodybar span{
    margin: 0 10px;
}
.bodybar a{
    text-decoration: none;
    color: inherit;
}
.bodybar a:hover{
    color: #55acee;
}

.item{
    display: block;
    position: relative;
    height: 175px;
    width: 292px;
    padding: 4px 8px;
    margin: 10px 0px;
}
.item span{
    position: absolute;
    font-size: 2rem;
    background:black;
    padding: 5px 8px;
    color: azure;
}
.item img{
    width: 100%;
    filter: grayscale(100%);
}
.item img:hover{
    filter: none;
    cursor: pointer;
}
.boxitem{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 10px 4px;
}
.sanpham{
    display: flex;
    margin: 30px 50px;
    align-items: center;
    justify-content: space-between;
}
.boxsanpham{
    max-width: 984px;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}
.boxsanpham a{
    text-decoration: none;
    width: 100%;
    z-index: 1;
}
.boxsanpham a:hover{
    border: 1px solid #55acee;
}

.sanpham img{  
    width: 327px;
    height: 363px;
}
.sanpham i{
    padding: 50px 10px;
    margin: auto;
    font-size: 6rem;
    color: #888;
    cursor: pointer;
}
h5{
    font-size: 2rem;
    padding-right: 45px;
    text-align: center;
    color: black;
}
h6{
    font-size: 1.6rem;
    padding-right: 45px;
    text-align: center;
    margin-top: 8px;
    color: #888;
    font-weight: 300;
}
.boxsanpham p{
    margin-top: 16px;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 56px;
    text-align: center;
    color: #333;
}
.logo{
    display: flex;
    margin: auto;
    padding-top: 20px;
}
.noidung{
    margin: 20px 80px 20px 80px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-align: justify;
}
.end{
    display: block;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
}
.end img{
    margin-top: 10px;
    margin-bottom: 60px;
}
.footbar{
    text-align: center;
    font-size: 2rem;
    background: #313131;
    padding: 10px 0;
    
}
.footbar i{
    margin: 0 12px;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 2px;
    cursor: pointer;
}
.About{
    display: flex;
    background: black;
    color: darkgray;
    padding: 40px 20px 20px 20px;
    justify-content: space-between;
}
.About p{
    cursor: pointer;
}
.About p:hover{
    color: white;
}

.about__vip{
    width: 311.82px;
    height: 301.32px;
}
h2{
    font-size: 2rem;
    font-weight: 500;
    padding: 0 10px 10px 0;
    border-bottom: 1px solid darkgray;
    color: aliceblue;
}
.about__detail{
    font-size: 1.4rem;
    line-height: 3rem;
}
.footend{
    background: #313131;
    text-align: center;
    color: aliceblue;
    padding: 8px 0;
    font-size: 1.6rem;
}
.sticky{
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    top: 100px;
    right: 0;
    font-size: 2.5rem;
    padding: 10px;
    background: white;
    z-index: 1;
    border-radius: 3px 0 0 3px;
    box-shadow: 1px 1px 5px 1px rgb(222, 220, 220);
}
.sticky a{
    text-decoration: none;
    color: inherit;
}
.sticky:hover{
    color:#55acee;
}

h3{
    text-align: center;
    border-top: 1px solid #dedddd;
    border-bottom: 1px solid #dedddd;
    padding: 40px 0;
    margin: 20px;
    font-size: 4rem;
    font-weight: 400;
}
.creator{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.creator__info{
    width: 24%;
    border: 1px;
    border-style: dashed;
    border-color: gainsboro;
    border-radius: 3px;
}
.creator__info img{
    width: 100%;
}
#name{
    width: 25%;
}
table{
    width: 100%;
    font-size: 1.6rem;
    padding-left: 20px;
    margin-top: -4px;
    background:azure;
    line-height: 18px;
}
.Brand__bar{
    font-size: 2rem;
    background: #d7cdcc;
    padding: 20px 20px 20px 50px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Brand__bar span{
margin-left: 30px;
}
.Brand__bar__span{
    display: flex;
    align-items: center;
}
.Brand__bar__search{ 
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    overflow: hidden;
}
.Brand__bar__search input{
height: 30px;
position: relative;
}
.Brand__bar__search i:before {
background: #888;
position: absolute;
right: 0;
padding: 6px;
}
.item1{
    display: block;
    position: relative;
    width: 16%;
    padding: 4px 8px;
    margin: 10px 0px;
}
.item1 span{
    position: absolute;
    font-size: 2rem;
    background:black;
    padding: 5px 8px;
    color: azure;
}
.item1 img{
    width: 100%;
    filter: grayscale(100%);
}
.brandcontainer{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 20px 18px;
}
.cart{
    display: flex;
    margin: 30px;
    font-size: 1.6rem;
    justify-content: space-between;
}
.cart__box1{
    height: 400px;
    overflow:scroll;
    border: 1px solid #ccc;
}
.cart__box1__item{
    display: flex;
    border: 1px solid #ccc;
    margin: 16px 16px 0 16px;
    padding: 10px;
}
.cart__box1__item img{
    width: 20%;
}
.cart__box1__item1{
    flex: 1;
    line-height: 3rem;
}
#cart__box1__item1--yellow{
background: yellow;
margin-right: 60%;
text-align: center;
}
#cart__box1__item1--red{
    color: red;
    margin-right: 60%;
    margin-top: 10px;
    text-align: center;
}
.cart__box1__item1 span{
color: red;
margin: 20px 0;
font-weight: 300;
}
.cart__box1__item i{
    width: 5%;
    margin-top: 10px;
}
.quantity p{
    margin-right: 60%;
    text-align: center;
}
.quantity p:last-child{
letter-spacing: 5px;
margin-top: 10px;
}

.cart__list{
    width: 33%;
    padding-top: 10px;
    margin-top: -7px;
}
.cart__box2{
    font-size: 2rem;
}
.cart__box2 table{
    font-size: 2rem;
    background-color: #f0f0f0;
    padding-right: 10px;
}
.cart__box2 tr{
    line-height: 5rem;
}
#total-red{
    color: red;
}
.cart__box2 td:last-child{
    float: right;
}
.cart__box2 table:nth-child(2){
    margin: 20px 0;
}
.cart__box2 button{
    line-height: 3rem;
    font-size: 1.6rem;
    padding: 6px 20px;
    background: none;
    border: 1px solid #dedddd;
    border-radius: 3px;
}
.cart__box2 button:last-child{
    float: right;
    background: rgb(144, 9, 9);
    color: aliceblue;
}
/* cart */
.contact__head{
    text-align: center;
    font-size: 1.6rem;
    color: rebeccapurple;
    margin: 10px 10px;
}
.contact__head span:first-child{
    border-right: 1px solid rebeccapurple;
    padding-right: 20px;
    margin-right: 20px;
}
.contact__box{
    display: flex;
    margin: 20px 40px;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.contact__box1{
    width: 30%;
    text-align: justify;
    margin-right: 20px;
}
.contact__box1 span{
    font-size: 2rem;
    line-height: 5rem;
}
.contact__box2{
    flex: 1;
    font-size: 1.6rem;
    line-height: 3rem;
    padding-left: 20px;
    border-left: 1px dashed #ccc;
}
.contact__box2 span{
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 500;
    display: block;
}
.contact__box2 input{
    height: 40px;
    width: 280px;
}
#input-last{
    height: 90px;
    width: 280px;
}
#input-last::placeholder{
    text-align: start;
    margin: 20px;
}
.contact__box2 button{
    display: block;
    width: 280px;
    height: 50px;
    font-size: 2.6rem;
    background: rgb(134, 6, 6);
    color:whitesmoke;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
.radio{
    height: 12px !important;
    width: 12px !important;
}
.detail{
    display: flex;
    justify-content:center;
}
.detail img{
    width: 33%;
    height: fit-content;
    align-items: center;
}
.detail__list{
    width: 50%;
}
.detail__list p:first-child{
font-size: 2rem;
color: #333;
line-height: 3rem;
}
.detail__list p:nth-child(4){
    font-size: 1.2rem;
    color: #888;
    line-height: 3rem;
    padding-bottom: 10px;
}
.detail__list-2-3{
font-size: 2.5rem;
color: #313131;
line-height: 3rem;
font-weight: 500;
width: 100%;
}
.detail__table{
    border-spacing: 0;
    font-size: 1.8rem;
    line-height: 4rem;
    background: white;
    padding: 0;
}
.detail__table td{
    padding: 0 16px;
}
.detail__list__tr1{
background: rgb(239, 237, 237);
padding-left: 10px;
}
.detail__list td:first-of-type{
    font-weight: 500;
}
.detail__list tr:last-child{
    color: red;
}
.detail__rate{
    font-size: 3rem;
    margin-top: 20px;
    line-height: 4rem;
    text-align: center;
}
.your__rate{
    font-size: 3rem !important;
}
.detail__rate button{
    margin-top: 20px;
    background: #0c0c0c;
    color: aliceblue;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 3rem;
    font-weight: 300;
}
.detail__rate hr{
    margin: 10px 0;
    border: 0;
    border-top: 1px solid rgb(240, 243, 247);
}
.detail__rate span{
    color: gold;
}
.similar{
    text-align: center;
    margin: 40px 0 0 0;
}
.similar__head{
    font-size: 3rem;
    color: rgb(141, 14, 14);
    padding-bottom: 20px;
}
.similar__head span{
    z-index: 1;
    background: white;
    padding: 0 10px;
}
.similar__head hr{
    margin-top: -6px;
    border: 0;
    border-top: 1px solid rgb(240, 243, 247);
}
.similar__container{
    display: flex;
    align-items: center;
    width: 964px;
    margin: auto;
    padding-top: 20px;
}
.similar__container img{
    width: 200px;
    height: fit-content;
}
.similar__container i{
padding: 50px 10px;
margin: auto;
font-size: 6rem;
color: #888
}
.similar__list li{
    display: inline-block;
    margin: 20px 20px 0;
}

.login{
    width: 46%;
    margin: auto;
    font-size: 1.6rem;
    padding: 4% 10%;
    box-shadow: 0px 2px 5px 0px rgb(27, 26, 26)
}
.login p{
    padding: 0px 0px 10px 0px;
    display: block;
    width: 100%;
}
.login input{
    width: 100%;
    display: block;
    padding: 10px 20px;
}
.login button{
    padding: 10px 00px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}
#login__checkbox{
    display: inline-block;
    width: auto;
}
#login__mid{
    text-align: center;
}
.login__button-icon{
    padding: 10px 0 20px 0;
}
.login__mxh{
margin-top: 20px;
}
.login__mxh i{
    font-size: 4rem;
    margin-left: 10px;
}
.login__mxh span{
    flex: 1;
}
.button__fb{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #3b5998;
}
.button__ins{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background:#55acee ;
}
.button__apple{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #dd4b39;
}
.button__sign{
    background: rgb(141, 14, 14);
    margin-bottom: 10px;
    padding: 20px 0 !important;
}

/* create */
.create{
    width: 46%;
    margin: auto;
    font-size: 1.6rem;
    padding: 4% 10%;
    box-shadow: 0px 2px 5px 0px rgb(27, 26, 26)
}
.create p{
    padding: 0px 0px 10px 0px;
    display: block;
}
.create input{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.create button{
    padding: 10px 00px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}
.create__button-icon{
width: 100%;
position: relative;
}
.create__button-icon p{
    display: inline-block;
    padding-left: 16px;
}
#create__checkbox{
    position: absolute;
    width: 4%;
    top: 2px;
}
/* password */
.password{
    width: 46%;
    margin: auto;
    font-size: 1.6rem;
    padding: 4% 10%;
    box-shadow: 0px 2px 5px 0px rgb(27, 26, 26)
}
.password strong{
    line-height: 3rem;
}
.password p{
    padding: 0px 0px 10px 0px;
    display: block;
}
.password input{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.password button{
    padding: 10px 00px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    width: 100%;
}
/* watch */
.watchcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
}
.watchcontainer__box1{
    width: 22%;
    margin: 30px 10px 0 0;
    padding-bottom: 40px;
}
.watchcontainer__box1 img{
    width: 100%;
}
.watchcontainer__detail{
    padding-right: 20px;
}
.watchcontainer__detail span:first-child{
    font-size: 2rem;
    font-weight: 400;
    line-height: 4rem;
}
.watchcontainer__detail span:last-child{
font-size: 1.6rem;
}
.watchcontainer__cost{
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    padding-right: 20px;
}
.watchcontainer__cost span:last-child{
float: right;
color: rgb(134, 6, 6);
}
